*/

!mako/
!sway/
!sway/config.d/
!waybar/
!alacritty/
!wofi/
!mpd/mpd.conf
!bin/
!i3/
!nitrogen/
!polybar/
!rofi/
!dunst/
!conky
!i3status/

ksystemlogrc
mimeapps.list
connections.db
pavucontrol.ini
QtProject.conf